body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #8a2c2a ;
    color:white;
    text-align:center;
    padding: 10px;
}

.search-filter{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 10px;
    width: 90%;
}

.search-filter input, .search-filter select{
    padding: 10px;
    
}

table{
    width:100%;
    border-collapse:collapse;
}

table th{
    background-color: white;
    padding:10px;
}

table td{
    vertical-align: middle;
    padding: 10px;
}

/* alternate row colors */
table tr:nth-child(even){
    background-color:#b35553  ;
}

table tr:nth-child(odd){
    background-color:#f9f9f9;
}

.pagination {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 20px; /* Space between table and buttons */
    padding-bottom: 20px; /* Space below buttons */
}

.pagination button {
    margin: 0 10px; /* Space between buttons */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b35553;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.pagination button:hover {
    background-color: #8a2c2a; /* Slightly darker hover color */
}